.question-text{
    display:none;
}
.show-text .question-text{
    display: block;
}
.minus-icon{
    display:none;
}
.show-text .minus-icon{
    display: inline;
}
.show-text .plus-icon{
    display: none;
}
.show-text{
    display: block;
}