.underline{
    width: 5rem;
    height: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    background: gold;
    margin-bottom: 4vh;
  }
  .title{
    text-align: center;
    margin-bottom: 2rem;
  }
  .menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
  }
  .photo{
    height: 200px;
    border: 0.25rem solid gold;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
  }
  h2{
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 6vh;
  }
  .filter-btn:hover {
    background: gold;
    color: white;
  }
  .filter-btn {
    background: transparent;
    border:  gold;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 2vh;
    color: gold;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
  }
 
  @media screen and (min-width: 768px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 5rem;
      max-width: 40rem;
    }
    .photo {
      height: 175px;
    }
  }
